In [1]:
import pandas as pd
import os

In [2]:
medals_df = pd.read_csv('data/medals.csv')

In [3]:
medals_df.head()

,medal_type,medal_code,medal_date,athlete_short_name,athlete_name,athlete_sex,athlete_link,country_code,discipline_code,event,country,discipline
0,Gold Medal,1,2021-07-24 00:00:00.0,KIM JD,KIM Je Deok,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
1,Gold Medal,1,2021-07-24 00:00:00.0,AN S,AN San,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
2,Silver Medal,2,2021-07-24 00:00:00.0,SCHLOESSER G,SCHLOESSER Gabriela,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
3,Silver Medal,2,2021-07-24 00:00:00.0,WIJLER S,WIJLER Steve,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
4,Bronze Medal,3,2021-07-24 00:00:00.0,ALVAREZ L,ALVAREZ Luis,X,../../../en/results/archery/athlete-profile-n1...,MEX,ARC,Mixed Team,Mexico,Archery

In [4]:
print(len(medals_df))

2401

In [5]:
clean_medals_df = medals_df[["athlete_name",
                             "athlete_sex",
                             "medal_type",
                             "country",
                             "country_code",
                             "event",
                             "discipline",                                                          
                             "athlete_link"]]

In [6]:
clean_medals_df.head()

,athlete_name,athlete_sex,medal_type,country,country_code,event,discipline,athlete_link
0,KIM Je Deok,X,Gold Medal,Republic of Korea,KOR,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
1,AN San,X,Gold Medal,Republic of Korea,KOR,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
2,SCHLOESSER Gabriela,X,Silver Medal,Netherlands,NED,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
3,WIJLER Steve,X,Silver Medal,Netherlands,NED,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
4,ALVAREZ Luis,X,Bronze Medal,Mexico,MEX,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...

In [7]:
clean_medals_rename = clean_medals_df.rename(columns={"athlete_name":"name",
                                                      "athlete_sex":"gender",
                                                      "athlete_link":"url"})

In [8]:
clean_medals_rename["medal_type"] = clean_medals_rename["medal_type"].str.replace(' Medal','')
clean_medals_rename["gender"] = clean_medals_rename["gender"].str.replace('M','Male').str.replace('W','Female').str.replace('X','Mixed')
clean_medals_rename["event"] = clean_medals_rename["event"].str.replace(' &Eacute;p&eacute;e', '')

In [9]:
clean_medals_rename.head()

,name,gender,medal_type,country,country_code,event,discipline,url
0,KIM Je Deok,Mixed,Gold,Republic of Korea,KOR,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
1,AN San,Mixed,Gold,Republic of Korea,KOR,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
2,SCHLOESSER Gabriela,Mixed,Silver,Netherlands,NED,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
3,WIJLER Steve,Mixed,Silver,Netherlands,NED,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
4,ALVAREZ Luis,Mixed,Bronze,Mexico,MEX,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...

In [10]:
print(len(clean_medals_rename))

2401

In [11]:
clean_medals_rename.to_csv('clean_data/clean_medals.csv',
                           encoding='utf-8', index=False, header=True)